@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    max-width: 1280px;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
}
/* for target zoom 90 : 110 % */
@media (min-width: 1100px) and (max-width: 1200px) {
    .my-element {
        margin-left: 50px;
        margin-right: 50px;

    }
}
/* for target zoom 100% */

@media (min-width: 950px) and (max-width: 1100px) {
    .my-element {
        margin-left: 30px;
        margin-right: 30px;


    }
}